@model IEnumerable<BibleTree.Models.BadgeType>

@{
    ViewBag.Title = "BadgeSearch";
}

<!-- 
    Add this code to your views to use the badge search.
    This code saves the badge id in a javascript variable called selected_badge and runs the function finishedBadgeSelection after a user is selected
    To activate modal run selectBadge()

    <script src="~/Scripts/badge.selection.js"></script>
    <script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

    <script>

        function finishedBadgeSelection() {
            // Do something after user is selected
            alert('You clicked on badge id: ' + badge_selection);
        }

    </script>

    <div id="modal">

    </div>

    -->

<!-- Modal -->
<div class="modal fade" id="badge_modal" tabindex="-1" role="dialog" aria-labelledby="badgeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Select a badge</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" id="badge_table" width="100%">
                    <thead>
                        <tr>
                            <th style="width:10px">
                                @Html.DisplayNameFor(model => model.badge_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badge_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badge_description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badge_level)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:10px">
                                    @Html.DisplayFor(modelItem => item.badge_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.badge_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.badge_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.badge_level)
                                </td>
                            </tr>
                        }
                    </tbody>
                 </table>
                </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#badge_modal').modal();
    }());

</script>