@model IEnumerable<BibleTree.Models.Student>

@{
    ViewBag.Title = "StudentSearch";
}

<!-- 
    Add this code to your views to use the student search.
    This code saves the user id in a javascript variable called selected_student and runs the function finishedStudentSelection after a user is selected

    <script src="~/Scripts/student.selection.js"></script>
    <script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

    <script>

        function finishedStudentSelection() {
            // Do something after user is selected
            alert('You clicked on user id: ' + student_selection);
        }

    </script>

    <div id="modal">

    </div>

    -->

<!-- Modal -->
<div class="modal fade" id="student_modal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Select a student</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" id="student_table" width="100%">
                    <thead>
                        <tr>
                            <th style="width:10px">
                                @Html.DisplayNameFor(model => model.user_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.user_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.user_email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.student_id)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:10px">
                                    @Html.DisplayFor(modelItem => item.user_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.student_id)
                                </td>
                            </tr>
                        }
                    </tbody>
                 </table>
                </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#student_modal').modal();
    }());

</script>