@model IEnumerable<BibleTree.Models.Faculty>

@{
    ViewBag.Title = "FacultyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Faculty</h2>

<script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

<p>
    @Html.ActionLink("Add New", "AddFaculty")
</p>
<table class="table" id="facutly_list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty_position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty_department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.faculty_position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.faculty_department)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditFaculty", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "FacultyDetails", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "DeleteFaculty", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        faculty_table = $('#facutly_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            language: {
                searchPlaceholder: "Search Faculty"
            }
        });
    }());

</script>