@model BibleTree.Models.User
@{
    ViewBag.Title = "StudentDetails";
}

<h2>Recieved Badges for @Model.user_name</h2>
<hr />
<a onclick="studentList()">Back To Student List</a>
<br/><br />

<a onclick="badgeTree(@Model.user_id)">Badge Tree For @Model.user_name</a>

<table class="table">
    <tr>
        <th>
           Badge ID
        </th>
        <th>
            Sender Id
        </th>
        <th>
            Receipient ID
        </th>
        <th>
           Time Stamp
        </th>
        <th>
           Comment
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.badges) {
    <tr>
        <td>
            @item.badge_id
        </td>
        <td>
            @item.award_sentid
        </td>
        <td>
            @item.user_id
        </td>
        <td>
            @item.award_timestamp
        </td>
        <td>
            @item.award_comment
        </td>

        <td>
            <a onclick="editBadge(@item.badge_id)">Edit</a> |
            <a onclick="badgeDetail(@item.badge_id)">Details</a> |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>