@model IEnumerable<BibleTree.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>List of Students</h2>

<script src="~/browser_components/datatables/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="~/browser_components/datatables/css/dataTables.bootstrap.css">

<p>
    @Html.ActionLink("Add New", "AddStudent")
</p>

<table class="table" id="student_list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_dateEnrolled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_dateGraduated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.student_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.student_dateEnrolled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.student_dateGraduated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent", new { /* id=item.PrimaryKey */ }) |
                    <a onclick="studentDetail(@item.user_id)">Details</a> |
                    @Html.ActionLink("Delete", "DeleteStudent", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        student_table = $('#student_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            language: {
                searchPlaceholder: "Search Students"
            }
        });
    }());

</script>