@model BibleTree.Models.BadgeType

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>BadgeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.badge_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge_pngURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge_pngURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge_gifURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge_gifURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.badge_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.badge_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "BadgeEdit", new { id = Model.unique_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
