@model BibleTree.Models.BadgeType

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>BadgeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.png_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.png_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gif_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gif_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Num)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "BadgeEdit", new { id = Model.Id_Num }) |
    @Html.ActionLink("Back to List", "Index")
</p>
