@model IEnumerable<BibleTree.Models.BadgeType>

@{
    ViewBag.Title = "BadgeList";

}

<h2>BadgeList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.badge_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge_pngURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge_gifURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.badge_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge_pngURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge_gifURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge_description)
        </td>

        <td>
            <a onclick="editBadge(@item.badge_id)">Edit</a> |
            <a onclick="badgeDetail(@item.badge_id)">Details</a> |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
